fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib
reportlab
deepface
opencv-python-headless
python-dotenv
pymysql
pymupdf
fastapi-mail
google-generativeai


